In [62]:
KOR_MAX_LEN_n_2 = 72
FOR_MAX_LEN_n_2 = 82

def k_gram_hash(text, n, where):
    result = []
    if len(text) > n:
        for i in range(len(text)):
            if i+n > len(text):
                break
            result.append(hash(text[i:i+n]))
    else:
        result.append(hash(text))
    # if where == "korean":
    #     result = result + [0.0 for _ in range(KOR_MAX_LEN_n_2 - len(result))]
    # else:
    #     result = result + [0.0 for _ in range(FOR_MAX_LEN_n_2 - len(result))]
    return result

# make korean book matrix

## title vector(not ncessary)

In [48]:
## title의 연관성은 속도를 너무 늦춰 profile vector에서 제외
import sqlite3
con = sqlite3.connect("../Books.db")
cur = con.cursor()
cur.execute("SELECT title FROM Korean_book")
titles = cur.fetchall()
print(len(titles))

S = set()

# hashing 값이 겹치는 title값이 존재
for i, title in enumerate(titles):
    S.add(hash(title[0]))
print(len(S))

cur.close()
con.close()

44019
43677

In [49]:
## window 2로 shingling 했을 때 최대값 == 73
# from k_gram import k_gram_hash
import sqlite3
con = sqlite3.connect("../Books.db")
cur = con.cursor()
cur.execute("SELECT title FROM Korean_book")
titles = cur.fetchall()
print("title len:",len(titles))

window = 2
max = 0
for i, title in enumerate(titles):
    result = k_gram_hash(title[0], window, "korean")
    if max < len(result):
        max = len(result)

print("max:",max)

cur.close()
con.close()

title len: 44019
max: 73

In [50]:
## window 2로 shingling 했을 때 최대값 == 73
# from k_gram import k_gram_hash
import sqlite3
con = sqlite3.connect("../Books.db")
cur = con.cursor()
cur.execute("SELECT title FROM Korean_book")
titles = cur.fetchall()
print("title len:",len(titles))

window = 3
max = 0
for i, title in enumerate(titles):
    result = k_gram_hash(title[0], window, "korean")
    if max < len(result):
        max = len(result)

print("max:",max)

cur.close()
con.close()

title len: 44019
max: 72

In [54]:
# from k_gram import k_gram_hash
import sqlite3
con = sqlite3.connect("../Books.db")
cur = con.cursor()
cur.execute("SELECT title FROM Korean_book")
titles = cur.fetchall()
print("title len:",len(titles))

window = 3
S = set()

# hashing 값이 겹치는 title값이 존재
for i, title in enumerate(titles):
    S.add(tuple(k_gram_hash(title[0], window, "korean")))
print(len(S))

cur.close()
con.close()

title len: 44019
43677

## author

In [42]:
## 변함 없음
import sqlite3
con = sqlite3.connect("../Books.db")
cur = con.cursor()
cur.execute("SELECT author FROM Korean_book")
author = cur.fetchall()
print(len(author))

S = set()
for i, author in enumerate(author):
    S.add((author[0]))
print("hashing 전",len(S))


cur.execute("SELECT author FROM Korean_book")
author = cur.fetchall()
S = set()
for i, author in enumerate(author):
    S.add(hash(author[0]))
print("hashing 후",len(S))

cur.close()
con.close()

43954
hashing 전 28511
hashing 후 28511

In [43]:
import sqlite3
con = sqlite3.connect("../Books.db")
cur = con.cursor()
cur.execute("SELECT author FROM Korean_book")
authors = cur.fetchall()
print(authors[0][0])
print(hash(authors[0][0]))
print(hash(authors[1][0]))

author_list = []
for author in authors:
    author_list.append(hash(author[0]))
print(author_list[0:5])
print(len(author_list))

김훈
-3266072922087748418
9131436933363082112
[-3266072922087748418, 9131436933363082112, -5120780271224788902, -5120780271224788902, -1649250777256377040]
43954

## publisher

In [44]:
## 변함 없음
import sqlite3
con = sqlite3.connect("../Books.db")
cur = con.cursor()
cur.execute("SELECT publisher FROM Korean_book")
publisher = cur.fetchall()
print(len(publisher))


S = set()
for i, publisher in enumerate(publisher):
    S.add((publisher[0]))
print("hashing 전",len(S))


cur.execute("SELECT publisher FROM Korean_book")
publisher = cur.fetchall()
S = set()
for i, publisher in enumerate(publisher):
    S.add((publisher[0]))
print("hashing 후",len(S))


cur.close()
con.close()

43954
hashing 전 5777
hashing 후 5777

In [45]:
import sqlite3
con = sqlite3.connect("../Books.db")
cur = con.cursor()
cur.execute("SELECT publisher FROM Korean_book")
publishers = cur.fetchall()
print(len(publishers))
print(hash(publishers[0][0]))
print(hash(publishers[1][0]))

publisher_list = []
for publisher in publishers:
    publisher_list.append(hash(publisher[0]))
print(publisher_list[:2])
print(len(publisher_list))

43954
-1906457553807237985
-1457571378354832108
[-1906457553807237985, -1457571378354832108]
43954

## rating

In [46]:
import sqlite3
con = sqlite3.connect("../Books.db")
cur = con.cursor()
cur.execute("SELECT rating FROM Korean_book")
ratings = cur.fetchall()
print(len(ratings))
print(int(100*(ratings[0][0])))
print(int(100*(ratings[1][0])))
print(int(100*(ratings[2][0])))

rating_list = []
for rating in ratings:
    if rating[0] == None:
        rating_list.append(0)
    else:
        rating_list.append(int(100*(rating[0])))
print(rating_list[:4])
print(len(rating_list))

43954
975
992
969
[975, 992, 969, 981]
43954

## page

In [47]:
import sqlite3
con = sqlite3.connect("../Books.db")
cur = con.cursor()
cur.execute("SELECT pages,id FROM Korean_book")
pages = cur.fetchall()
print(len(pages))
print(pages[0][0])
print(pages[1][0])
print(pages[2][0])
print()

page_list = []
for i, page in enumerate(pages):
    if page[0] == None:
        page_list.append(0)
    else:
        page_list.append(page[0])
print(page_list[:3])
print(len(page_list))

43954
308
268
320

[308, 268, 320]
43954

## id

In [48]:
import sqlite3
con = sqlite3.connect("../Books.db")
cur = con.cursor()
cur.execute("SELECT id FROM Korean_book")
ids = cur.fetchall()
print(len(ids))
print(ids[0][0])
print(ids[1][0])
print(ids[2][0])
print()

id_list = []
for i, id in enumerate(ids):
    if id[0] == None:
        id_list.append(0)
    else:
        id_list.append(id[0])
print(id_list[:3])
print(len(id_list))

43954
0
1
2

[0, 1, 2]
43954

## genre

In [11]:
with open("../data/korean-all-genres.txt", "rb") as f:
    all_genres = f.read().decode("utf-8")

print(type(all_genres))
all_genres = all_genres.split("\n")
print(len(all_genres))

<class 'str'>
2856

In [12]:
all_genres.remove("")
print(len(all_genres))
print(all_genres[-1])

2855
인식론

In [13]:
print(type(author_list[0]))

<class 'int'>

In [14]:
import sqlite3
import numpy as np
con = sqlite3.connect("../Books.db")
cur = con.cursor()
cur.execute("SELECT genres FROM Korean_book")
genres = cur.fetchall()

genre_list = []
for genre in genres:
    binary = [0 for _ in range(len(all_genres))]
    genre = genre[0].split(",")
    for i,g in enumerate(all_genres):
        if g in genre:
            binary[i] = 1
    genre_list.append(binary)
print(np.array(genre_list).shape)

(43954, 2855)

In [15]:
import sqlite3
import numpy as np
con = sqlite3.connect("../Books.db")
cur = con.cursor()
cur.execute("SELECT genres FROM Korean_book")
genres = cur.fetchall()
print(genres[0][0].split(","))
print(len(genres[0][0].split(","))-1)
print(np.array(genre_list[0]).sum())
print()
print(genres[23022][0].split(","))
print(len(genres[23022][0].split(","))-1)
print(np.array(genre_list[23022]).sum())

['국내도서', '소설', '한국소설', '역사/대하소설', '장르소설', '역사소설']
5
5

['국내도서', '예술/대중문화', '디자인/색채', '디자인', '디자인이론']
4
4

In [17]:
korbook = pd.DataFrame({
    "id":id_list,
    "genre":genre_list,
    "rating": rating_list,
    "page": page_list,
    "author":author_list,
    "publisher": publisher_list
})
print(korbook.shape)

(43954, 6)

In [18]:
korbook.to_csv("../data/KorBookDataFrame.csv")

In [20]:
import numpy as np
genre_numpy = np.array(genre_list)
print(genre_numpy.shape)

(43954, 2855)

In [49]:
id_numpy = np.array([id_list])
print(id_numpy.shape)
rating_numpy = np.array([rating_list])
print(rating_numpy.shape)
page_numpy = np.array([page_list])
print(page_numpy.shape)
author_numpy = np.array([author_list])
print(author_numpy.shape)
publisher_numpy = np.array([publisher_list])
print(publisher_numpy.shape)

(1, 43954)
(1, 43954)
(1, 43954)
(1, 43954)
(1, 43954)

In [ ]:
korBookMatrix = np.concatenate((
    id_numpy.T,
    genre_numpy,
    rating_numpy.T,
    page_numpy.T,
    author_numpy.T,
    publisher_numpy.T
), axis=1)

In [56]:
print(korBookMatrix.shape)

(43954, 2860)

In [55]:
np.savetxt("../data/KorBookMatrix.csv", korBookMatrix, delimiter=",")

In [38]:
from numpy import genfromtxt
korBookMatrix = genfromtxt("../data/KorBookMatrix.csv", delimiter=",")

In [54]:
print(korBookMatrix[10,0])
print(korBookMatrix[0,1:2856].sum())
print(korBookMatrix[0,2856])
print(korBookMatrix[0,2857])
print("author:",korBookMatrix[0,2858])
print(hash(("김훈")))
print(korBookMatrix[0,2859])
print(hash(("문학동네")))

12.0
5.0
975.0
308.0
author: -3.2660729220877486e+18
-3266072922087748418
-1.906457553807238e+18
-1906457553807237985

In [ ]:
import pickle
with open("korBookMatrix.pkl", "wb") as f:
    pickle.dump(korBookMatrix, f)